<p>
  Hi {{ selectedUserName }}
</p>
<!-- <div class="container-fluid">
  <table class="table table-hover table-bordered" cellspacing="0" *ngIf="books" uiactions="toolbarfocus">
      <thead>
          <tr style="background-color:darkseagreen;color:white">
              <th>Title</th>
              
              <th>ISBN</th>
              <th>Loaned To</th>
              <th>&nbsp;</th>              
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let book of books'>              
              <td>{{book.title}}</td>            
              <td>{{ book.isbn }}</td>
              <td>{{ book.loanedTo}}</td>              
              <td><input type="button" class="btn btn-default" [disabled]="book.loanedTo > 0" (click)="LoanBook(book)" value="Loan"></td> 
              <app-book [book]="book"></app-book>
          </tr>
      </tbody>
  </table>
</div> -->

<!-- <app-cart [book[]]="selectedBooks"></app-cart> -->

<div *ngFor='let book of books'>              
        <app-book [book]="book" (reloadBookshelf)="getBooks()"></app-book>
</div>