<div class="row clsbook shadow">
  <div class="col-md-5">    
    <div *ngIf="GetCoverPageURL(book)">
        <img class="
        img-fluid" [src]="GetCoverPageURL(book)"  [style.height.px]="120" [style.width.px]="120"  onError="this.src='../../assets/unknown.png';"/>
      </div>
  <div *ngIf="!GetCoverPageURL(book)">
      <img class=" img-fluid" src="../../assets/images/noBookIcon.jfif"
     [style.height.px]="120"  [style.width.px]="120"   />

</div>
</div>
<div class="col-md-7">
  <div class="row" style="height: 100px;">
    <div class="row"> {{ book.author}}</div>    
    <div class="row">&nbsp;</div> 
    <div class="row" >
      <h3>{{ book.title}} </h3>
    </div>   
  </div>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <input type="button" class="btn btn-info" [disabled]="book.loanedTo > 0" (click)="LoanBook()" value="Loan">
    </div>

  </div>

</div>
</div>
